<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsy_jiaobao.main"
    android:versionCode="18"
    android:versionName="3.3.5">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


<!--
危险权限组
权限组名	                                权限名称

CALENDAR（日历）	                        READ_CALENDAR
                                        WRITE_CALENDAR

CAMERA（相机）	                        CAMERA

CONTACTS（联系人）	                    READ_CONTACTS
                                        WRITE_CONTACTS
                                        GET_ACCOUNTS

LOCATION（位置）	                        ACCESS_FINE_LOCATION
                                        ACCESS_COARSE_LOCATION

MICROPHONE（麦克风）	                    RECORD_AUDIO

PHONE（手机）	                        READ_PHONE_STATE
                                        CALL_PHONE
                                        ERAD_CALL_LOG
                                        WRITE_CALL_LOG
                                        ADD_VOICEMAIL
                                        USE_SIP
                                        PROCESS_OUTGOING_CALLS
SENSORS（传感器）	                        BODY_SENSORS

SMS（短信）                             	SEND_SMS
                                        RECEIVE_SMS
                                        READ_SMS
                                        RECEIVE_WAP_PUSH
                                        RECEIVE_MMS

STORAGE（存储卡）	                        READ_EXTERNAL_STORAGE
                                        WRITE_EXTERNAL_STORAGE
-->

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!--  危险权限组  -->
    <uses-permission android:name="android.permission.CAMERA" /> <!--  危险权限组  -->


    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--  危险权限组  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--  危险权限组  -->
<!--    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>-->
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!--  危险权限组  -->
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />--><!--  危险权限组  -->
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 --><!--  危险权限组  -->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />-->
    <!--    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_GPS" />-->
    <!--  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 start-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->

    <application
        android:name=".JSYApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.MyTheme">
        <!-- 广告页 -->
        <activity
            android:name=".system.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <!-- 登录页 -->
        <activity
            android:name=".system.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- 信息中心 -->
        <activity
            android:name=".personalcenter.MessageCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.affairs.WorkSendMessageActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".affairs.WorkSendToSbActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendToSbActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.filechoser.grivider.FileChooseActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendAgainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".affairs.WorkSendToLowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkJuniorUnitListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendToAllActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.ContactsActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!--
            <activity
            android:name="com.jsy_jiaobao.main.schoolcircle.ShowArticleListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        -->
        <activity
            android:name=".schoolcircle.Show2MoreArticleListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.Show2MoreArticleListSelectActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.ShowCorrelationUnitActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".schoolcircle.UnitSpacePhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpacePhotoExpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpacePhotoGroupActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.SpacePhotoCreateActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceExpActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceBriefInfo"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TopicalSpaceActivity" -->
        <!-- android:launchMode="standard" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".personalcenter.PersonalSpaceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.PersonalInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.PersonalInfoCollectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.FriendMultiChoiceActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".affairs.WorkSendToSMSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkMoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.Work2MineDetailsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".affairs.Work2OthersDetailsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".affairs.Work2DetailsListItemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".schoolcircle.NoticeArtListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolecircle.TrainArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.NoticeTopArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.SearchArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" /> -->
        <activity
            android:name=".schoolcircle.ArticleDetailsActivity"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:layerType="hardware"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TrainArticleDetailsActivity" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:layerType="hardware" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".schoolcircle.NoticeJuniorListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TrainJuniorListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".personalcenter.PublishArticaleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".affairs.WorkDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 应用中心 -->
        <activity
            android:name=".appcenter.AppCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appcenter.sign.LocationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.sign.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WorkPlanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WorkPlanDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WriteInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <!-- singleTask模式无法使用setActivityOnResult -->
        <activity
            android:name=".appcenter.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".affairs.SinglePictureDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />

        <!-- 个人中心 -->
        <activity
            android:name=".system.QiuzhiQuestionListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.QiuzhiPersonalCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.SystemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.RegistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.PersonalCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.PersonalCenterChangeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <!-- 求知 -->

        <activity
            android:name=".personalcenter.QiuZhiPickedDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiPickedBaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSiftListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiPublishQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />
        <activity
            android:name=".personalcenter.QiuZhiQuestionDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".personalcenter.QiuZhiChoseClazzActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.QiuZhiSuggestQuestionDetailsActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".personalcenter.QiuZhiQuestionAnswerListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSuggestShowRecommentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiQuestionAnswerDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSuggestQuestionAnswerDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- 在线作业 -->
        <activity
            android:name=".workol.TeacherPublishWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.GenCheckWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.StudentWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.WorkDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".workol.ErrorScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!--
             <activity
            android:name="com.jsy.xuezhuli.main.system.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified" />
        -->
        <!-- 学生档案 -->
        <activity
            android:name=".studentrecord.StudentRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.GenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".leave.HeadTeacherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.AllClassNamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerScreenConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.LeaveDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.ModifyLeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerAgreeOrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.GateCheckDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.SumStudentLeavesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appcenter.sign.QuickSignInActivity"
            android:label="@string/function_signinquick" />


        <!--        <service-->
        <!--            android:name="com.baidu.location.f"-->
        <!--            android:enabled="true"-->
        <!--            android:process=":remote" />-->
        <!-- 下载文件服务 -->
        <service
            android:name=".UpdateService"
            android:label="@string/app_name" />

        <!--        <meta-data-->
        <!--            android:name="com.baidu.lbsapi.API_KEY"-->
        <!--            android:value="bN9poUzSXxmKD6KmXqVpTZnCQEsj9R3a" />-->
        <!--android:value="NLHqyhqTPEtbgVx8XQgEKwjK" />-->
        <activity
            android:name=".appcenter.sign.RecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="@string/title_activity_record"/>

        <!--        <service android:name=".umengService.UPushIntentService"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 start-->
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel"/>
        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.jsy_jiaobao.main.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="com.jsy_jiaobao.main.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end-->



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jsy_jiaobao.main.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>