<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsy_jiaobao.main"
    android:versionCode="15"
    android:versionName="3.3.1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!--  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".JSYApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo72"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.MyTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5732d2f867e58e19d2000fd0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="jinshiye" />

        <activity
            android:name=".system.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".system.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"></activity>
        <activity
            android:name=".BaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- 信息中心 -->
        <activity
            android:name=".personalcenter.MessageCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.affairs.WorkSendMessageActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".affairs.WorkSendToSbActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendToSbActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.filechoser.grivider.FileChooseActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendAgainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".affairs.WorkSendToLowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkJuniorUnitListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkSendToAllActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.ContactsActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!--
            <activity
            android:name="com.jsy_jiaobao.main.schoolcircle.ShowArticleListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        -->
        <activity
            android:name=".schoolcircle.Show2MoreArticleListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.Show2MoreArticleListSelectActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.ShowCorrelationUnitActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".schoolcircle.UnitSpacePhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpacePhotoExpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpacePhotoGroupActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.SpacePhotoCreateActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceExpActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceBriefInfo"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".schoolcircle.UnitSpaceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TopicalSpaceActivity" -->
        <!-- android:launchMode="standard" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".personalcenter.PersonalSpaceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.PersonalInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.FriendMultiChoiceActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".affairs.WorkSendToSMSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.WorkMoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".affairs.Work2MineDetailsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".affairs.Work2OthersDetailsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".affairs.Work2DetailsListItemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".schoolcircle.NoticeArtListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolecircle.TrainArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.NoticeTopArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.SearchArtListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" /> -->
        <activity
            android:name=".schoolcircle.ArticleDetailsActivity"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:layerType="hardware"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TrainArticleDetailsActivity" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:layerType="hardware" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".schoolcircle.NoticeJuniorListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.schoolcircle.TrainJuniorListActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".personalcenter.PublishArticaleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".affairs.WorkDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 应用中心 -->
        <activity
            android:name=".appcenter.AppCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appcenter.sign.LocationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.sign.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WorkPlanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WorkPlanDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".appcenter.workplan.WriteInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <!-- singleTask模式无法使用setActivityOnResult -->
        <activity
            android:name=".appcenter.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".affairs.SinglePictureDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />

        <!-- 个人中心 -->
        <activity
            android:name=".system.QiuzhiQuestionListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.QiuzhiPersonalCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.SystemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.RegistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.PersonalCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".system.PersonalCenterChangeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <!-- 求知 -->

        <activity
            android:name=".personalcenter.QiuZhiPickedDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiPickedBaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSiftListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiPublishQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />
        <activity
            android:name=".personalcenter.QiuZhiQuestionDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".personalcenter.QiuZhiChoseClazzActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- <activity -->
        <!-- android:name="com.jsy_jiaobao.main.personalcenter.QiuZhiSuggestQuestionDetailsActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.MyTheme" -->
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" /> -->
        <activity
            android:name=".personalcenter.QiuZhiQuestionAnswerListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSuggestShowRecommentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiQuestionAnswerDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personalcenter.QiuZhiSuggestQuestionAnswerDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <!-- 在线作业 -->
        <activity
            android:name=".workol.TeacherPublishWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.GenCheckWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.StudentWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".workol.WorkDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".workol.ErrorScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <!--
             <activity
            android:name="com.jsy.xuezhuli.main.system.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnspecified|adjustUnspecified" />
        -->
        <!-- 学生档案 -->
        <activity
            android:name=".studentrecord.StudentRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.GenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".leave.HeadTeacherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.AllClassNamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerScreenConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.LeaveDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.ModifyLeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.CheckerAgreeOrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.GateCheckDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.SumStudentLeavesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 下载文件服务 -->
        <service
            android:name=".UpdateService"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NLHqyhqTPEtbgVx8XQgEKwjK" />

        <activity
            android:name=".system.adActivity"
            android:label="@string/title_activity_ad"></activity>
    </application>

</manifest>